*{
    margin:0;
    padding:0;
  }

  body{
    background-color:thistle;
  }
  
  header{
    border-bottom: 1px solid rgb(118, 62, 118);
    display:flex;
    height: 15vh;
    font-family:garamond;
  }

  h1{
    margin-left: 15%;
    margin-top: 7%;
    font-size: 40px;
  }
  
  #logo{
    width: 30vw;
    height: 10vh;
  }
  
  #logo img{
    height: 18vh;
    margin-left: 91vw;
  }

  #display{
    width: 50vw;
  }
  
  #user{
    width: 20vw;
  }
  
  main{
    margin: 2vh 2vw;
    min-height: 80vh;
  }
  
  #notes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .card a{
    text-decoration: none;
  }
  
  #modal-view{
    border:1px solid rgb(118, 62, 118);
    position: absolute;
    display:none;
    width: 90vw;
    padding:10px;
   
  }
  
  #close-modal{
    float:right;
  }
  
  #modal{
    border:1px solid rgb(118, 62, 118);
    position: absolute;
    padding:2vh 2vw;
    display:none;
    width: 90vw;
  }
  
  #controls-note{
    display:flex;
    gap:10px;
  }